* {
	--main-color: #46d6f0;
	--nav-color: #9ff1f1;
	--secondary-color: #7fdddd;
	--card-color: #bbfa80;
	--button-color: #7fdddd;
}

body {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 10fr;
	grid-template-rows: 1fr 10fr;

	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

button {
	padding: 0;
}

.header {
	background-color: var(--secondary-color);
	grid-column: 1 / -1;
}

.nav-bar {
	grid-column: 1 / 2;
	grid-row: 2 / -1;
	background-color: var(--nav-color);

	position: sticky;
	top: 20px;

	padding: 15px;
}

.content {
	background-color: var(--main-color);
	padding: 10px;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;

	justify-content: space-between;
	gap: 25px;

	height: 90%;
}

.categories {
	display: flex;
	flex-direction: column;
	gap: 25px;
	
	overflow-y: auto;
}

.category {
	display: flex;
	gap: 5px;
	align-items: center;
}

.category-name {
	background-color: var(--secondary-color);
}

.highlight {
	background-color: rgb(24, 233, 24);
}

.add-category {
	font-size: 1.4em;
	padding: 0;
	background-color: var(--button-color);
	border-radius: 12px;
}

.add-buttons {
	display: flex;
	gap: 25px;
	margin-bottom: 25px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 20px;

	height: 80%;
	overflow-y: auto;
}

.todo-item {
	background-color: var(--card-color);
	display: flex;
	gap: 25px;
	align-items: center;
	border-radius: 24px;
	height: 5vh;
	padding: 0 10px;
}

.todo-item .item-buttons {
	display: flex;
	margin-left: auto;
	gap: 25px;
}

.expand {
	background-color: rgb(248, 212, 212);
}

.edit {
	background-color: rgb(236, 160, 160);
}

.delete {
	background-color: rgb(235, 92, 92);
}

.add-item {
	background-color: var(--button-color);
	border-radius: 12px;
	font-size: 1.5em;
}

#item-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

textarea {
	resize: none;
}